{% extends 'emails/base_email.html' %}

{% block title %}Verify Account{% endblock %}

{% block content %}
<div class="greeting">Confirm Your Subscription.</div>

<div class="message">
    <p>Thank you for joining Fortress Vault. To activate your account and access the storage facilities, please verify
        your email address below.</p>

    <div class="btn-container">
        <a href="{{ url }}" class="btn">Verify Email</a>
    </div>

    <div style="margin-top: 40px; border-top: 1px solid #f0f0f0; padding-top: 20px;">
        <p style="font-size: 13px; color: #888;">Direct Link:</p>
        <p style="font-size: 12px; font-family: monospace; color: #666; word-break: break-all;">{{ url }}</p>
    </div>
</div>
{% endblock %}